{% extends 'base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endif %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <section class="panel general">
                    <header class="panel-heading tab-bg-dark-navy-blue">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#home">INGRESAR PRODUCTOS</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#register">LISTA DE PRODUCTOS</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="home" class="tab-pane active">
                         <div class="col-md-6">
                                <form action="{% url 'almacen:producto' %}" method="POST">{% csrf_token %}
                                    <div class="panel panel-primary">

                                            <div class="panel-heading">Nuevo Producto</div>
                                            <div class="panel-body">
                                                {{ producto_form.as_p }}
                                            </div>
                                          <div class="panel-footer">
                                                    <button class="btn btn-success" type="submit" value="Submit">Registrar Producto</button>
                                                    <button class="btn btn-danger" type="reset" value="Reset">Limpiar</button>
                                          </div>
                                    </div>
                                </form>
                                </div>
                                <div class="col-md-6">
                                   {% if request.user.is_staff %}
                                        <form action="" method="POST">{% csrf_token %}
                                        <div class="panel panel-primary">
                                              <div class="panel-heading">Lista de Productos</div>
                                              <div class="panel-body">
                                                    {{ ingreso_form.as_p }}
                                              </div>
                                              <div class="panel-footer">
                                                  <button class="btn btn-success" type="submit" value="Submit">Ingresar</button>
                                                  <button class="btn btn-danger" type="reset" value="Reset">Limpiar</button>
                                              </div>
                                        </div>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="register" class="tab-pane">
                                <table id="tabla" class="table table-hover display">
                                    <thead>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Marca</th>
                                        <th>Color</th>
                                        <th>Categoria</th>
                                        <th>Longitud</th>
                                        <th>Stock Mínimo</th>
                                        <th>Stock Actual</th>
                                    </thead>
                                    {% for producto in productos %}
                                    <tr>
                                        <td>{{ producto.codigo }}</td>
                                        <td>{{ producto.descripcion }}</td>
                                        <td>{{ producto.marca }}</td>
                                        <td>{{ producto.color }}</td>
                                        <td>{{ producto.categoria }}</td>
                                        <td>{{ producto.longitud }}</td>
                                        <td>{{ producto.stock_minimo }}</td>
                                        <td>{{ producto.stock_actual }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block application_javascript %}
    <script>
    var datatable = {

        "oLanguage": {
            "oAria": {
                "sSortAscending": " - ordenar de forma ascendente",
                "sSortDescending": " - ordenar de forma descendente",
                "sInfoEmpty": "No hay información para mostrar",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sSearch": "Buscar :",
                "sZeroRecords": "No hay ningún registro",

            },
            "oPaginate": {
                "sFirst": "Primera página",
                "sLast": "Última página",
                "sNext": "Página siguiente",
                "sPrevious": "Página anterior"
            },

            "sEmptyTable": "Esta tabla no tiene datos",
            "sInfo": "Mostrando  _START_ - _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 entradas",
            "sInfoFiltered": "(filtrados de _MAX_  registros en total)",
            "sLengthMenu": "Motrar _MENU_ registros",
            "sSearch": "Buscar :",
            "sZeroRecords": "No se encontraron coincidencias"

        }
    };
    $(document).ready(function() {
        $('#tabla').DataTable(datatable);
        $(".chosen-select").chosen({no_results_text: "No se encontró coincidencias con :", width: '100%' ,allow_single_deselect: true, });
    } );
    </script>
{% endblock %}