{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    </style>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel general">
                    <header class="panel-heading">
                        <strong>Registro de Ventas</strong>
                    </header>
                    <div class="panel-body">
                        <table id="tabla1" class="display" cellspacing="0" width="100%">
                            <thead>
                                <th>Boleta de Venta</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Abono</th>
                                <th>Saldo</th>
                                <th>Cancelado</th>
                                <th>Reporte</th>
                            </thead>
                            <tfoot>
                                <th>Boleta de Venta</th>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Total</th>
                                <th>Abono</th>
                                <th>Saldo</th>
                                <th>Cancelado</th>
                                <th>Reporte</th>
                            </tfoot>
                            <tbody>
                                {% for venta in ventas %}
                                <tr>
                                    <td>{{ venta.nro }}</td>
                                    <td>{{ venta.dni_cliente.dni }}</td>
                                    <td>{{ venta.dni_cliente.nombre_completo }}</td>
                                    <td>{{ venta.fecha }}</td>
                                    <td>{{ venta.total }}</td>
                                    <td>{{ venta.importe }}</td>
                                    <td>{{ venta.saldo }}</td>
                                    <td>
                                        {% if venta.cancelado %}
                                            <img src="{% static 'images/check.png' %}" width="25" height="25" data-toggle="tooltip" title="Venta Cancelada"> Pagado
                                        {% else %}
                                            <img src="{% static 'images/pay.png' %}" width="25" height="25" data-toggle="tooltip" title="Falta Pagar"> Por Pagar</a>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'facturacion:reporte' venta.id %}" target="_blank"><img src="{% static 'images/ver.png' %}" width="25" height="25" data-toggle="tooltip" title="Click para ver el reporte"></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                     </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block application_javascript %}
    <script>
    var datatable = {
        "orderable": false ,
        "oLanguage": {
            "oAria": {
                "sSortAscending": " - ordenar de forma ascendente",
                "sSortDescending": " - ordenar de forma descendente",
                "sInfoEmpty": "No hay información para mostrar",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sSearch": "Buscar :",
                "sZeroRecords": "No hay ningún registro",

            },
            "oPaginate": {
                "sFirst": "Primera página",
                "sLast": "Última página",
                "sNext": "Página siguiente",
                "sPrevious": "Página anterior"
            },

            "sEmptyTable": "Esta tabla no tiene datos",
            "sInfo": "Mostrando  _START_ - _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 entradas",
            "sInfoFiltered": "(filtrados de _MAX_  registros en total)",
            "sLengthMenu": "Motrar _MENU_ registros",
            "sSearch": "Buscar :",
            "sZeroRecords": "No se encontraron coincidencias"

        }
    };
    $(document).ready(function() {
        $(".fancybox").fancybox({
            openEffect	: 'elastic',
            closeEffect	: 'elastic',

            helpers : {
                title : {
                    type : 'inside'
                }
            }
            });
        $('[data-toggle="tooltip"]').tooltip();
         // Setup - add a text input to each footer cell
        $('#tabla1 tfoot th').each( function () {
            var title = $('#tabla1 thead th').eq( $(this).index() ).text();
            $(this).html( '<input type="text" placeholder="'+title+'" />' );
        } );

        // DataTable
        var table = $('#tabla1').DataTable(datatable);

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );


        $(".chosen-select").chosen({no_results_text: "No se encontró coincidencias con :", width: '100%' ,allow_single_deselect: true, });
    } );
    </script>
{% endblock %}